.menu{
    height: 50px;
}
.youtube{
    height: 80px;
}
.video{
    margin: 10px;
}
.channal{
    height: 60px;
    width: 300px;
}
.subcribe{
    color: aliceblue;
    background-color: rgb(223, 26, 26);
    border-radius: 50px;

}
.mic{
    height: 20px;
    width: 25px;
}
.search{
    border-radius:  50px; 
}
